version: "3"
services:
  web:
    build: .
    # replace username/repo:tag with your name and image details
    image: gitt0h0/radce-started:part2
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "0.1"
          memory: 50M
      restart_policy:
        condition: on-failure
    ports:
      - "4000:8080"
    redis:
      image: "redis:slim"
    networks:
      - webnet
networks:
  webnet:
